<%= render application.apply_yourself %>
<%= render application.official_test_score %>

<div class='section'>
	<div class='header'>
		<h2>Reviews</h2>
	</div>

	<div class='content'>
		<%= render application.reviews %>
	</div>
</div>
	

				
