		<div id="assignReviewsDialog" title="Assign Reviewers" class='section nocollapsing'>
			<div class="header">
				<div id='reviewerPagination' class="pagination">
					<a href='#' class='jqBtn'>Prev</a>
					<a href='#' class='jqBtn'>Next</a>
				</div>	
			</div>
			<div class='content'>
				replaced later on
			</div>
			
			<input type='submit' class='jqBtn submitBtn'/>
		</div>