<div id='toolbar'>

<select id="roundSelector" onChange="changeRound()">
	<option value="0">Show All</option>
	<option value="1">Round 1</option>
	<option value="2">Round 2</option>
	<option value="-1">Current Round</option>
</select>

<div class="pagination">
	<a href="#" id='prevBtn' class="jqBtn">Prev</a>
	<a href="#" id='nextBtn' class="jqBtn">Next</a>
</div>

</div> 
<% reviews = @user.reviews.sort_by{|r| r.submitted } %>
<%= review_list reviews %>


