<h1>Home#round</h1>
<p>Find me in app/views/home/round.html.erb</p>

<h2 class="roundHeader">Round 1</h2>

            

            <ul class="roundContent">

            	<li>

                	<span class="fieldName">Assign Reviewers Period:</span><input type="text" value="10/8/2011"/><input type="text" value="10/20/2011" />

                </li>

                <li>

                   <span class="fieldName">Write Reviews Period:</span><input type="text" value="10/21/2011" /><input type="text"  value="11/1/2011"/>

                </li>

                <li>

                    <span class="fieldName">Make Decision Period:</span><input type="text" value="11/2/2011" /><input type="text" value="11/10/2011"/>

                </li>

       		</ul>

            <h2 class="roundHeader">Round 2</h2>

            

            <ul class="roundContent">

            	<li>

                	<span class="fieldName">Assign Reviewers Period:</span><input type="text" value="11/11/2011"/><input type="text" value="11/20/2011" />

                </li>

                <li>

                   <span class="fieldName">Write Reviews Period:</span><input type="text" value="11/21/2011" /><input type="text"  value="12/1/2011"/>

                </li>

                <li>

                    <span class="fieldName">Make Decision Period:</span><input type="text" value="12/2/2011" /><input type="text" value="12/10/2011"/>

                </li>

       		</ul>    

            <h2 class="roundHeader">Current Round</h2>

            

            <ul class="roundContent" id="currentRound">

            	<li>

                	<span class="fieldName">Assign Reviewers Period:</span><input type="text" value="12/11/2011"/><input type="text" value="12/20/2011" /><input type="button" value="Edit" />

                </li>

                <li>

                   <span class="fieldName">Write Reviews Period:</span><input type="text" value="Start Date" /><input type="text"  value="End Date"/><input type="button" value="Confirm" />

                </li>

                <li>

                    <span class="fieldName">Make Decision Period:</span><input type="text" value="Start Date" /><input type="text" value="End Date"/><input type="button" value="Confirm" />

                </li>

       		</ul>

            

            <input type="button" value="Create New Round"/>

			