		<%= upload_div_helper  %>
            
		<br/>

                <h2 id="uploadErrorMsgListTitle">Upload Error Message Log</h2>

                <ul id="uploadErrorMsgList">

                    <li>

                        <span>Error: failed to load ay.file. Click <a href="upload_error.html">here</a> for details.</span>

                    </li>

                    <li>

                        <span>Error: failed to load ay.file. Click <a href="upload_error.html">here</a> for details.</span>

                    </li>

                    <li>

                        <span>Error: failed to load ay.file. Click <a href="upload_error.html">here</a> for details.</span>

                    </li>

                    <li>

                        <span>Error: failed to load ay.file. Click <a href="upload_error.html">here</a> for details.</span>

                    </li>

                    <li>

                        <span>Error: failed to load ay.file. Click <a href="upload_error.html">here</a> for details.</span>

                    </li>

                    

                </ul>   

