<div class='appControls'>
	<% if review.submitted == 1 %>
		<div style="width: 15px; height:15px; background-color:#93d694; margin-top: 0px; margin-left: 2px;margin-right: 4px; display:inline-block"></div>
	<% else %>
			<div style="width: 15px; height:15px; background-color:red; margin-top:0px; margin-left: 2px;margin-right: 4px; display:inline-block"></div>
	<% end %>
</div>

<div class="appArea">	
	<div class="appHeader">
		<div class="appHeaderTitle">
			<a class="appName"><%= review.user.name %></a>
		</div>
		<span class="appSchool">
			Rating:<%= review.rating %>, Date:<%= review.timestamp %>
		</span>
	</div>

	<div class="reviewContent" style='padding-left:4px'>
		<% if review.review == "" %>
			Empty review
		<% else %>
			<%= review.review %>
		<% end %>
	</div>
</div>
